<h2> Sign up here now </h2>

<form action='/users' method='post'>

  Email: <input name='email' type='text'>
  password: <input name='password' type='password'>
  password: <input name='password_confirmation' type='password'>
  <input type='submit' value='sign up'>
</form>
